header {
  position: fixed;
  width: 100%;
  background-color: var(--color-sub);
  z-index: 99;
}
.lnb, nav {
  border-bottom: 1px solid var(--color-main);
}
.lnb {
  line-height: 50px;
  text-align: right;
  height: 50px;
  display: flex;
}
.lnb-inner {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content:flex-end;
}
.lnb li {
    display: inline-block;
}
.lnb li:last-child {
  padding-left: 14px;
}
.lnb a{
  position: relative;
  display: inline-block;
  padding: 0 14px; 
}
.lnb a::before {
  content: '';
  width: 1px;
  height: 15px;
  background-color: var(--color-main);
  position: absolute;
  right: 0;
  top: 5px;
}
.lnb select {
  border: none;
  background-color: transparent;
}
nav {
  height: 90px;
}
.nav-inner {
  width: 1170px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.gnb {
  margin-right: -14px;
}
nav .logo {
  width: 150px;
}
nav .logo img {
  width: 100%;
}
.gnb {
  display: flex; 
  font-size: 1.125rem;

}
.gnb > li {
  position: relative;
  /* margin-right: 28px; */
}
.gnb > li:last-child {
  /* margin-right: 0; */
}
.gnb > li > a {
  display: inline-block;
  padding: 30px 14px;       
}
.gnb ul {
  width: 130px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  opacity: 0;
  visibility: hidden;

}
.gnb > li.on ul {
  opacity: 1;
  visibility: visible;
}
.gnb ul::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.gnb ul a {
  padding: 5px 0;
  width: 100%;
  transition: .4s;
  border-bottom: 1px solid white;
  font-size: 1rem;
}
.gnb ul a:hover {
  border-bottom: 1px solid var(--color-khaki);
}
/* .gnb ul {
  display: none;
} */
.gnb ul li {}
.gnb ul li a {}


/*trigger*/
.trigger {
  display: none;
}

