
/* 01 welcome */

/* 02 Main visual */
#main-visual {
  width: 100%;
  height: 785px;
  position: relative;
}
#main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* reservation */
.reservation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1170px;
}
.reservation-header {
  width: 100%;
  height: 45px;
  text-align: center;
  padding: 10px;
  background-color: var(--color-green);
}
.reservation-header h3 {
  color: white;
}
.reservation-main {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reservation-main > .date, .reservation-main .number {
  display: flex;
}
.reservation-main > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.reservation-main > div:nth-child(1) > div {
  width: 200px;
  border-bottom: 1px solid var(--color-main);
}
.reservation-main > div:nth-child(2) > div {
  width: 50px;
}
.reservation-main button {
  font-size: 1.125rem;
  background-color: var(--color-main);
  color: white;
  margin-left: 80px;
}
.reservation-main > div label {
  color: var(--color-khaki);
}
.reservation-main input {
  font-size: 1.45rem;
  font-weight: bold;
  cursor: pointer;
}

/* 03 Promotion, 04 Event */
#promotion {
  padding: 100px 0;
  background-color: var(--color-sub);
}
#event {
  padding: 100px 0;
  background: url(../images/event-back.png) no-repeat center center;
}
/*header*/
.promotion-header,
.event-header {
  text-align: center;
  margin-bottom: 85px;
}
.promotion-header h2,
.event-header h2 {
  font-family: 'STIX Two Text', serif;
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.promotion-header p,
.event-header p {

}
/*items*/
.promotion-items,
.event-items {
  display: flex;
  justify-content: space-between;
}
.promotion-item,
.event-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.promotion-item {
  margin-right: 30px;
}
.promotion-item:last-child {
  margin-right: 0;
}
/*img*/
.promotion-img, .event-img {
  height: 280px;
}
.promotion-img {
  position: relative;

}
.promotion-img span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--color-khaki);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.3rem;
  padding-top: 12px;
  color: white;
  font-size: 0.9rem;
}
.event-img {
 
}
.promotion-img img,
.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*desc*/
.promotion-desc,
.event-desc {
  height: 280px;
  background-color: white;
  padding: 25px;
  position: relative;
}
.event-desc {
  color: white;
}
.event-item:nth-child(1) .event-desc,
.event-item:nth-child(3) .event-desc {
  background-color: var(--color-main);
}
.event-item:nth-child(2) .event-desc {
  background-color: var(--color-khaki);
}
.promotion-desc h3,
.event-desc h3 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.promotion-desc em {
  color: #57786e;
}
.event-desc em {
  color: var(--color-light-khaki);
}
.promotion-desc hr,
.event-desc hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-main);
  margin: 20px 0;
}
.event-desc hr {
  background-color: var(--color-light-khaki);
}
.promotion-desc p,
.event-desc p {
  margin-bottom: 40px;
}
.event-desc a {
  color: white;
}
/*자세히보기 button*/
.promotion-desc a,
.event-desc a {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
/*전체보기 button*/
.promotion-btn,
.event-btn {
  text-align: center;
}
.promotion-btn a,
.event-btn a {
  font-size: 1.45rem;
  text-decoration: underline;
  margin-top: 60px;
  font-weight: bold;
}


/* 05 hotel-notice */
#hotel-notice {
  padding: 100px 0;
  background-color: var(--color-light-gray);
}
.hotel-notice-inner {
  display: flex;
  width: 1170px;
  margin: auto;
}
.facilities {
  margin-right: 70px;
  flex: 3;
}
.infra {
  flex: 1;
}
.facilities-header, .infra-header {
  margin-bottom: 35px;
  display: flex;
}
.facilities-header h3, .infra-header h3 {
  font-size: 1.75rem;
  font-family: 'STIX Two Text', serif;
  margin-right: 10px;
}
.infra-items {
  display: flex;
  flex-direction: column;
}
.facilities-item, .infra-item {
  display: flex;
}
.facilities-item {
  flex-direction: row;
}
.facilities-items hr, .infra-items hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-khaki);
  margin: 30px 0;
}
.infra-items hr {
  display: none;
}
.infra-item {
  flex-direction: column;
  margin-bottom: 55px;
}
.facilities-img, .infra-img {

}
.facilities-img {
  margin-right: 25px;
  flex: 2;
}
.infra-img {
  margin-bottom: 25px;
}
.facilities-img img,
.infra-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.facilities-desc {
  flex: 3;
}
.facilities-desc h4, .infra-desc h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.facilities-desc p {
  margin-bottom: 10px;
}
.infra a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-khaki);
}
/* 06 Wedding */
#wedding {
  width: 100%;
  display: flex;
}
.wedding-img {
  flex: 1;
}
.wedding-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wedding-item {
  flex: 1;
  background-color: var(--color-sub);
  padding: 80px 70px;
}
.wedding-header {

}
.wedding-header em {
  display: inline-block;
  margin-bottom: 10px;
}
.wedding-header h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.wedding-header h2 span {
  font-size: 1.75rem;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
}
.wedding-header p {
  font-size: 1.125rem;
  color: var(--color-khaki);
  margin-bottom: 70px;
}
.wedding-desc {
  color: var(--color-khaki);
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.wedding-desc > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.wedding-desc > div:last-child {
  margin-right: 0;
}
.wedding-desc > div span {
 flex: 1; 
}
.wedding-desc hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-khaki);
  margin: 10px 0;
}
.wedding-desc > div span:nth-child(1) {
  font-weight: bold;
}
.wedding-btn {
  background-color: var(--color-green);
  color: var(--color-sub);
}

/* 07 membership */
#membership {
  padding: 100px 0;
  background-color: var(--color-khaki);
  color: white;
  text-align: center;
}
.membership-header {
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.membership-header em {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  color: var(--color-light-khaki);
}
.membership-header h2 {
  font-size: 1.75rem;
  font-family: 'STIX Two Text', serif;
}
#membership p {
  margin-bottom: 50px;
}
#membership p, #membership a {
  font-size: 1.125rem;
}
#membership a {
  display: inline-block;
}
#membership a.membership-btn {
  border: 1px solid var(--color-light-khaki);
  color: var(--color-light-khaki);
  margin-right: 10px;
}
#membership a.join-btn {
  border: 1px solid var(--color-light-khaki);
  background-color: var(--color-light-khaki);
  color: var(--color-khaki);
}

