/* 00 aside */
  aside {
    text-align: center;
    width: 100px;
    height: 120px;
    background-color: var(--color-khaki);
    position: absolute;
    top: 800px;
    right: 30px;
    box-shadow: 0 0 5px rgba(32, 32, 32, 0.575);
    z-index: 2;
  }
  aside a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.25rem;

  }
  aside .far {
    font-size: 2rem;
    margin-bottom: 4px;
    color: var(--color-light-khaki);
  }
  aside span {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1em;
  }
  aside:hover {
    animation: myreservation 1s linear infinite;
  }
  aside.fixed {
    position: fixed;
    top: 110px;
  }

/* 01 welcome */
#welcome {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  color: white;
  transition: .4s;
}
/*bx slider*/
.bx-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.slider {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, transparent, #193129);
  z-index: 999999999999;
}
.slider > div img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 0;
}
.bx-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.bx-controls-direction {
  display: none;
}
.bx-controls-auto {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 9999999999;
  color: white;
}
.bx-controls-auto-item {
  color: white;
}
.bx-start, .bx-stop {
  transform: scale(1.3);
}
.bx-pager.bx-default-pager {
  display: none;
}
/*bx slider end*/

#welcome.hidden {
  opacity: 0;
  visibility: hidden;
}
.welcome-main {
  position: absolute;
  width: 90vw;
  height: 90vh;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 z-index: 2;
}
#welcome .logo {
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
}
#welcome .logo img {
  width: 100%;
}
#welcome select {
  position: absolute;
  top: 0;
  right: 0;
  border :1px solid white;
  background-color: transparent;
  color: white;
  padding: 1px 5px;
}
#welcome select option {
  color: var(--color-main);
}
.welcome-desc {
  width: 600px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: welcome 1.2s linear both;
}
.welcome-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.welcome-desc h1 {
  font-family: 'STIX Two Text', serif;
  font-size: 2.5rem;
  line-height: 0.9em;
  margin-right: 10px;
}
.welcome-desc h1 span{
  font-size: 2.5rem;
  line-height: 0.9em;
  font-family: 'STIX Two Text', serif;
  display: block;
}
.welcome-desc em {
  margin-bottom: 3px;
  font-style: normal;
  font-size: 1.25rem;
  color: var(--color-sub);
}
.welcome-desc hr {
  border: none;
  width: 100%;
  height: 1px;
  border: none;
  background: var(--color-sub);
  margin: 20px 0;
}
.welcome-desc p {
  font-size: 1.125rem;
  font-weight: lighter;
  line-height: 1.3em;
  margin-bottom: 35px;
}
.welcome-desc a {
  border: 1px solid var(--color-sub);
  font-weight: bold;
} 
.homepage-btn {
  background-color: var(--color-sub);
  margin-right: 10px;
}
.quick-reservation-btn {
  color: var(--color-sub);
}

/* 02 Main visual */
#main-visual {
  width: 100%;
  height: 785px;
  position: relative;
}
#main-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* reservation */
.reservation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1170px;
}
.reservation-header {
  width: 100%;
  height: 45px;
  text-align: center;
  padding: 10px;
  background-color: var(--color-green);
}
.reservation-header h3 {
  color: white;
}
.reservation-main {
  padding: 20px 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reservation-main > .date, .reservation-main .number {
  display: flex;
}
.reservation-main > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.reservation-main > .date > div {
  border-bottom: 1px solid var(--color-main);
}
.reservation-main > .number > div {
  width: 50px;
}
.reservation-main input[type='button'] {
  font-size: 1.125rem;
  background-color: var(--color-main);
  color: white;
  margin-left: 80px;
}
.reservation-main > div label {
  color: var(--color-khaki);
}
.reservation-main input {
  font-size: 1.45rem;
  font-weight: bold;
  cursor: pointer;
}

/* 03 Promotion, 04 Event */
#promotion {
  padding: 100px 0;
  background-color: var(--color-sub);
}
#event {
  padding: 100px 0;
  background: url(../images/event-back.png) no-repeat center center;
}
/*header*/
.promotion-header,
.event-header {
  text-align: center;
  margin-bottom: 85px;
}
.promotion-header h2,
.event-header h2 {
  font-family: 'STIX Two Text', serif;
  font-size: 1.75rem;
  margin-bottom: 10px;
}
/*items*/
.promotion-items,
.event-items {
  display: flex;
  justify-content: space-between;
}
.promotion-item,
.event-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.425);
}
.promotion-item {
  margin-right: 30px;
}
.promotion-item:last-child {
  margin-right: 0;
}
/*img*/
.promotion-img, .event-img {
  height: 280px;
}
.promotion-img {
  position: relative;
}
.promotion-img span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--color-khaki);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.3rem;
  padding-top: 12px;
  color: white;
  font-size: 0.9rem;
}
.promotion-img img,
.event-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*desc*/
.promotion-desc,
.event-desc {
  height: 280px;
  background-color: white;
  padding: 25px;
  position: relative;
}
.event-desc {
  color: white;
}
.event-desc::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: var(--color-main);
}
.event-item:nth-child(2) .event-desc::before {
  background-color: var(--color-khaki);
}

.event-item:nth-child(1) .event-desc,
.event-item:nth-child(3) .event-desc {
  background-color: var(--color-main);
}
.event-item:nth-child(2) .event-desc {
  background-color: var(--color-khaki);
}

.promotion-desc h3,
.event-desc h3 {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.promotion-desc em {
  color: #57786e;
}
.event-desc em {
  color: var(--color-light-khaki);
}
.promotion-desc hr,
.event-desc hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-main);
  margin: 20px 0;
}
.event-desc hr {
  background-color: var(--color-light-khaki);
}
.promotion-desc p,
.event-desc p {
  margin-bottom: 40px;
}
.event-desc a {
  color: white;
}
/*자세히보기 button*/
.promotion-desc a,
.event-desc a {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
/*전체보기 button*/
.promotion-btn,
.event-btn {
  text-align: center;
}
.promotion-btn a,
.event-btn a {
  font-size: 1.45rem;
  text-decoration: underline;
  margin-top: 60px;
  font-weight: bold;
}

/* 05 hotel-notice */
#hotel-notice {
  padding: 100px 0;
  background-color: var(--color-light-gray);
}
.hotel-notice-inner {
  display: flex;
  width: 1170px;
  margin: auto;
}
.facilities {
  margin-right: 70px;
  flex: 3;
}
.infra {
  flex: 1;
}
.facilities-header, .infra-header {
  margin-bottom: 35px;
  display: flex;
}
.facilities-header h3, .infra-header h3 {
  font-size: 1.75rem;
  font-family: 'STIX Two Text', serif;
  margin-right: 10px;
}
.facilities-header p, .infra-header p {
  margin-top: 7px;
}
.infra-items {
  display: flex;
  flex-direction: column;
}
.facilities-item, .infra-item {
  display: flex;
}
.facilities-item {
  flex-direction: row;
}
.facilities-items hr, .infra-items hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-khaki);
  margin: 30px 0;
}
.infra-items hr {
  display: none;
}
.infra-item {
  flex-direction: column;
  margin-bottom: 55px;
}
.facilities-img {
  margin-right: 25px;
  flex: 2;
}
.infra-img {
  margin-bottom: 25px;
}
.facilities-img img,
.infra-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.facilities-desc {
  flex: 3;
}
.facilities-desc h4, .infra-desc h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.facilities-desc p {
  margin-bottom: 10px;
}
.infra a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-khaki);
}

/* 06 Wedding */
#wedding {
  width: 100%;
  display: flex;
}
.wedding-img {
  flex: 1;
}
.wedding-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wedding-item {
  flex: 1;
  background-color: var(--color-sub);
  padding: 80px 70px;
}
.wedding-header em {
  display: inline-block;
  margin-bottom: 10px;
}
.wedding-header h2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.wedding-header h2 span {
  font-size: 1.75rem;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
}
.wedding-header p {
  font-size: 1.125rem;
  color: var(--color-khaki);
  margin-bottom: 70px;
}
.wedding-desc {
  color: var(--color-khaki);
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.wedding-desc > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.wedding-desc > div:last-child {
  margin-right: 0;
}
.wedding-desc > div span {
 flex: 1; 
}
.wedding-desc hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-khaki);
  margin: 10px 0;
  border: none;
}
.wedding-desc > div span:nth-child(1) {
  font-weight: bold;
}
.wedding-btn {
  background-color: var(--color-green);
  color: var(--color-sub);
}

/* 07 membership */
#membership {
  padding: 100px 0;
  background-color: var(--color-khaki);
  color: white;
  text-align: center;
}
.membership-header {
  margin: auto;
  margin-bottom: 20px;
  width: 300px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.membership-header em {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  color: var(--color-light-khaki);
}
.membership-header h2 {
  font-size: 1.75rem;
  font-family: 'STIX Two Text', serif;
}
#membership p {
  margin-bottom: 50px;
}
#membership p, #membership a {
  font-size: 1.125rem;
}
#membership a {
  display: inline-block;
}
#membership a.membership-btn {
  border: 1px solid var(--color-light-khaki);
  color: var(--color-light-khaki);
  margin-right: 10px;
}
#membership a.join-btn {
  border: 1px solid var(--color-light-khaki);
  background-color: var(--color-light-khaki);
  color: var(--color-khaki);
}

/*animation*/
@keyframes welcome {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes myreservation {
  0%, 100% {
    background-color: var(--color-khaki)
  }
  50% {
    background-color: var(--color-main)
  }
}